<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Temp Message</title>
</head>

<body>
    <nav class="navigationbar">
        <div>
            <h1>Temp Message</h1>
        </div>
        <div class="buttonwrapper">
            <a class="button" href="/login"> Log In</a>
            <a class="button" href="/register">Register</a>
        </div>
    </nav>
    <div class="question_section">
        <p>Design a system for photo sharing with expiring link.</p>
        <ul>
            <li>
                Login page with a form for entering user ID and password.
            </li>
            <li>
                Post page with a form for uploading an image and entering a caption (text).
            </li>
            <li>
                Share option that generates a unique link for the posted photo.
            </li>
            <li>
                The link should expire after 4 minutes once clicked.
            </li>
            <li>
                If the link is not clicked, it should expire after 30 minutes.
            </li>
        </ul>
    </div>
</body>

</html>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>