<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Temp Message</title>
</head>

<body>
    <nav class="navigationbar">
        <div>
            <h1>Temp Message</h1>
        </div>
        <div class="buttonwrapper">
            <a class="button" href="/login"> Log In</a>
            <a class="button" href="/register">Register</a>
        </div>
    </nav>
</body>

</html>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>